.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: auto;
  //z-index: -1
}

//@media (min-width: @tablet-width) {
//  .page-header {
//    min-width: 660px;
//    height: 109px;
//    margin: auto;
//  }
//}
