.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    min-width: 660px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    height: auto;
  }
}
