//Размеры
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;
//Цвета
@white: #ffffff;
@gray-3: #fefefe;
@concrete: #f2f2f2;
@mercury: #e5e5e5;
@alto: #dedede;
@river-bed: #475462;
@pickled-bluewood: #233343;
@river-bed: #283645;
@black: #000000;
@cerise-red: #d22856;
@aplle: #3dc644;
@jungle-green: #2aab6d;
