//Размеры
@tablet-width: 760px;
@desktop-width: 980px;
//Цвета
@white: #ffffff;
@black: #000000;
@white-gray: #475462;
@dark-gray-blue: #233343;
@white-gray: #283645;
@white-light-gray: #f2f2f2;
@tomato: #d22856;
@dark-gray-blue-rgba: rgb(14%, 20%, 26%, 0,1);
