.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 320px;
  margin: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 660px;
    margin: auto;
  }
}

.advantages__text-header {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: initial;
  color: @white-gray;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    margin: 0;
    margin-top: 59px;

    &_line-two {
      margin: 0;
      margin-right: 40px;
      margin-left: 40px;
    }
  }
}

.advantages__list {
  width: 320px;
  list-style: none;
  padding: 0;
  background-color: @white-light-gray;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    min-width: 660px;
    height: 509px;
    list-style: none;
    padding: 0;
    background-color: @white-light-gray;
  }
}

.advantages__header {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: @black;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-bottom: 0;
  }
}

.advantages__text {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
  text-transform: initial;
  color: @white-gray;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-top: 0;
    text-align: left;

    &_margin-bottom {
      margin-bottom: 20px;
    }
  }
}

.advantages__item {
  @media (min-width: @tablet-width) {
    width: 310px;
    margin-left: 330px;
  }
}

.advantages__item_element-property {
  @media (min-width: @tablet-width) {
    margin-top: 50px;
  }
}

.advantages__text_element-property-three {
  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
}


