.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  margin: auto;
}

.advantages__list {
  background-color: @white-gray-b;
}

.advantages__text-header {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: initial;
  color: @black;
}

