.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  margin: auto;
}

.advantages__list {
  background-color: @white-gray-b;
}

.advantages__text-header {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: @black;
}

.advantages__text-header_one-t {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-transform: initial;
  text-align: center;
  margin-top: 46px;
}
