.block-info {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    color: @river-bed;
  }
}
//
.block-info__svg-content {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
  }
}

.block-info__container {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 295px;
    margin: 0 10px 0 70px;
    padding: 102px 0 83px 0;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    width: 406px;
    margin-bottom: 118px;
    padding-top: 150px;
  }
}

.block-info__title {
  display: none;
  color: @black;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: @tablet-width) {
    display: block;
    text-align: left;
    width: 296px;
    height: 70px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    font-size: 30px;
    font-weight: 700;
  }
}

.block-info__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 0;
    text-align: left;
    //width: 100%;
    font-size: 18px;
    line-height: 1.67;
    color: @black;
  }
}

.block-info__link-to-details {
  display: none;
  color: @cerise-red;

  @media (min-width: @tablet-width) {
    display: block;
  ;
  }
}

.block-info__svg {
  @media (min-width: @tablet-width) {
    width: 238px;
    height: 276px;
    margin: 59px 0 52px 20px;
    fill: @alto;
  }

  @media (min-width: @desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.block-info__svg-content {
  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 131px;
  }

  &::before {
    content: "24";
    width: 185px;
    height: 185px;
    position: absolute;
    padding: 0;
    left: 46px;
    top: 122px;
    text-align: center;
    font-size: 96px;
    font-weight: 700;
    line-height: 1.56;
    border: 15px solid @cerise-red;
    border-radius: 100px;
    color: @cerise-red;

    @media (min-width: @desktop-width) {
      left: 57px;
      top: 142px;
      width: 225px;
      height: 225px;
      border-radius: 150px;
      font-size: 120px;
      font-weight: 700;
      line-height: 1.56;
      color: @cerise-red;
    }
  }
}
