.block-header {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 69px;
  background-color: @dark-gray-blue;

  @media (min-width: @desktop-width) {
    width: auto;
    height: 129px;
    z-index: 5;
    background-color: initial;
  }
}
