.block-developer {
  display: inline-block;
  margin: auto;
}

.block-developer__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: @white-gray;
  text-decoration: none;
}

.block-developer__svg {
  margin-left: 15px;
  vertical-align: middle;
  fill: @tomato;
}
