.block-header {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 69px;
  position: relative;
  background-color: @dark-gray-blue;

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }

  @media (min-width: @desktop-width) {
    min-width: 960px;
    height: 129px;
    z-index: 5;
    background-color: hsla(0, 0%, 0%, 0.3);
  }
}
