.close-toggle {
  display: block;
  width: 24px;
  height: 24px;
  border: 0;
  margin: auto;
  margin-right: 19px;
  cursor: pointer;
  background-color: @dark-gray-blue;

  @media (min-width: @tablet-width) {
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
