.form {
  display: flex;
  flex-direction: column;
}

.form__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: @white-gray-b;
  //noinspection ALL
  &--form__div_background-white-gray-b {
    background-color: @white-gray-b;
  }
}

.form__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: @tomato;
}

.form__input::placeholder {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: @white-gray;
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__label-check {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-transform: initial;
  text-align: left;
  color: @white-gray;
}

//.form__label_color-b {
//  font-size: 18px;
//  line-height: 1.67;
//  text-align: left;
//  text-transform: initial;
//  color: @white-gray;
//}

.button-push-contest-data {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: @white;
}

.form__required-fields {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: @black-gray;
}
