.form {
  display: flex;
  flex-direction: column;
}

.form__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: @white;
  //noinspection ALL
  &_with-other-background {
    background-color: @white-light-gray;
  }
}

.form__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: @tomato;
  //noinspection ALL
  &_with-a-different-style-and-color-text {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-transform: initial;
    text-align: left;
    color: @white-gray;
  }
}

.form__input::placeholder {
  font-size: 18px;
  font-weight: @weight-three-hundred;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: @white-gray;
}

.form__list {
  list-style: none;
  padding: 0;
}

.button-push-contest-data {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: @white;
}

.form__required-fields {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: @white-gray;
}

.form__with-a-bastard-in-the-span {
  color: @tomato;
}
