.home-page-title {
  margin: 18px 30px 0 30px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-top: 103px;
    margin-right: 396px;
    left: 40px;
    width: 200px;
    font-size: 40px;
    font-weight: 300;
  }

  @media (min-width: @desktop-width) {
    margin-top: 121px;
    margin-right: 620px;
    width: 235px;
    left: 130px;
    font-size: 50px;
    font-weight: 300;
  }
}
