.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 147px;
  height: 23px;
  margin: auto;
  margin-left: 19px;

  @media (min-width: @desktop-width) {
    margin: auto;
    margin-left: 130px;
  }

  &_red-glasses {
    width: 147px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 43px;

    @media (min-width: @tablet-width) {
      margin-left: 20px;
      padding-bottom: 15px;
      padding-left: 20px;
      background-color: @white;
    }

    @media (min-width: @desktop-width) {
      margin-left: 130px;
    }
  }
}
