.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 76px;
  height: 68px;
  margin-left: 20px;
  margin-right: auto;
  background-color: @dark-gray-blue;
}

.logo-link_red-glasses {
  width: auto;
  margin: auto;
  background-color: @white;
}

.logo-link__red-glasses {
  margin-left: 78px;
}
