.nav {
  min-width: 320px;
  margin: 0 auto;
  //временно
  min-height: 256px;
  //

  @media (min-width: @tablet-width) {
    min-width: 660px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 740px;
    //height: 110px;
    margin: 0 auto 0 0;
    //z-index: 5;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  //background-color: @pickled-bluewood;

  @media (min-width: @tablet-width) {
    min-width: 660px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0;
    width: 740px;
    height: 110px;
    //background-color: initial;
  }
}

.nav__item {
  min-width: auto;
  text-align: center;
  height: 64px;
  padding: 15px 0 0 0;
  box-shadow: 0 -1px 0 0 @black, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  @media (min-width: @desktop-width) {
    //margin: 0 82px 0 0;
    //отступ для ссылок нафигации
    //padding-top: 47px;
    padding: 47px 0 0 0;
    height: 110px;
  }

}

.nav__link {
  //display: inline-block;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  //margin-top: 15px;
  //margin-bottom: 15px;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;

  //
  //@media (min-width: @desktop-width) {
  //  font-size: 18px;
  //  font-weight: 400;
  //  line-height: 1;
  //  text-transform: capitalize;
  //  margin-top: 55px;
  //}
}
