.page-contacts {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: auto;
  background-color: @white;
}

.page-contacts__text {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  text-transform: initial;
  color: @white-gray;
}

.page-contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: initial;
  margin-bottom: 0;
  color: @white-gray;
}

.page-contacts__link {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  text-transform: initial;
  text-decoration: none;
  color: @tomato;
}

.page-contacts__block {
  margin: auto;
  margin-top: 0;
  text-align: center;
}

//@media (min-width: @tablet-width) {
//  .page-contacts {
//    display: flex;
//    flex-direction: row;
//    flex-wrap: wrap;
//    min-width: 660px;
//    margin: auto;
//    background-color: @white;
//  }
//
//  .page-contacts__text {
//    font-size: 40px;
//    margin-left: 50px;
//    margin-right: 50px;
//    margin-bottom: 0;
//  }
//
//  .page-contacts__block {
//    margin: auto;
//    margin-top: 57px;
//  }
//
//  .page-contacts__block_margin-top {
//    margin-top: 48px;
//  }
//}
