.page-contacts {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
  background-color: @white;
}

.page-contacts__text {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  text-transform: initial;
  color: @white-gray;
}

.page-contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-transform: initial;
  color: @white-gray;
}

.page-contacts__link {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  text-transform: initial;
  color: @tomato;
}
