.section-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: auto;
  background-color: @dark-gray-blue;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    min-width: 660px;
    height: 729px;
    margin-top: 110px;
    z-index: 4;
  }
}

.section-application__background {
  display: flex;
  flex-direction: column;
  min-height: 432px;
  min-width: 320px;
  position: relative;
  background-image: url("/img/img__background/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -72px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    min-width: 660px;
    min-height: 729px;
    position: relative;
    background-image: url("/img/img__background/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

//.section-application__phone {
//  position: relative;
//  margin-top: 113px;
//}

.section-application__link-download-application {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  color: @white;
  border-radius: 60px;
  border: solid 3px @white;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-right: 45px;
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    margin-top: -340px;
    margin-right: 310px;
    z-index: 5;
  }
}

.section-application__list-download {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    margin-right: 305px;
    padding: 0;
    background-color: red;
    z-index: 7;
  }
}

.section-application__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  text-transform: initial;
  color: @white;
  margin-top: 20px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    margin-right: 310px;
    z-index: 7;
  }
}
