.user-content-photos-and-comments {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-content-photos-and-comments__title-name {
  margin: 25px 23px 0 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  text-transform: initial;
  text-align: left;
  color: @river-bed;
}

.user-content-photos-and-comments__comments-text {
  margin: 0 23px 57px 17px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  text-transform: initial;
  color: @river-bed;
}

.user-content-photos-and-comments__like-button {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 0 -22px 18px;
}

.user-content-photos-and-comments__like-number {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  color: @cerise-red;
  margin: auto auto 28px 50px;
}

.user-content-photos-and-comments__time {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-transform: initial;
  text-align: left;
  color: @river-bed;
}
