.user-photos {
  background-color: @white;
}

.user-photos__list-photo {
  list-style: none;
  padding: 0;
}

.user-photos__item-photo {
  background-color: @white-gray-b;
}

.user-content__title-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-transform: initial;
  text-align: left;
  color: @white-gray;
}

.user-content__title-name span {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-transform: initial;
  text-align: left;
  color: @white-gray;
}

.user-content__comments-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  text-transform: initial;
  color: @white-gray;
}

.user-content__like-number {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: @tomato;
}
