.user-content-title {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: @white;
  //margin: 35px 76px 0 76px;

  //@media (min-width: @tablet-width) {
  //  font-size: 50px;
  //  margin: 74px 176px 0 176px;
  //}
  //
  //@media (min-width: @desktop-width) {
  //  margin: 74px 176px 0 176px;
  //}
}
